@use '../styles/variables.scss';
@use '../styles/main.scss';
.about-wrapper {
    margin-bottom: 4rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    // max-width: 45%;
    gap: 2rem;
    // align-content: space-around;
}

@media (min-width: 769px) {
    .about-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        
        .card {
            max-width: 40%;
        }

        p {
            max-width: 45%;
        }
    }

    .skills {
        max-width: 45%;
    }
}

