@import './variables.scss';

.home{
    margin-top: 60px;
    &-title{
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        &__heading:nth-child(even){
            text-align: end;
        }
    }
    
    &-title > * {
        margin: 0;
    }

    &-description {
        display: flex;
        flex-direction: column;
        width: 85%;

        &__buttons {
            display: flex;
            margin-bottom: 30px;
            gap: 14px;
            align-items: center;
        }
    }

    &-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
}