// tbd
@import './variables.scss';
.scroll-up {
    animation: scroll-animation-up .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(0);
    transition: .5s ease;
}
.scroll-down {
    animation: scroll-animation-down .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(-100%);
    transition: .5s ease;
}
.menu {
    width: 100%;
    position: fixed;
    background: blue;
    left: 0;
    top: 0;

    &__container {
        // padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__controls {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &-text{
           font-size: 1rem;
        }

        &-icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-left: 1.6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            span {
                position: relative;
                right: 0;
                display: block;
                width: 100%;
                height: .2rem;
                background: currentColor;
                margin: .4rem 0;
                flex: 0 0 .2rem;
                transition: .6s ease-in-out;
            }
            &:hover {
                .menu__controls-icon--center {
                    width: 1rem;
                }
            }
        }
    }
}

.navigation {
    position: absolute;
    top: 100%;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: calc(100lvh - 6rem);
    padding: 0;
    background: $main-white;
    overflow-y: auto;
    text-align: center;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s ease-in-out;

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        &-item {
            &--link {
                color: $main-black;
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 2.8rem;
                line-height: 5.6rem;

            }
            
        }

    }
}

.is-active {
    right: 0;
}

.is-toggled {
    span {
        right: -.4rem;
        margin: 0;
        transform-origin: calc(50% + .2rem);
    }
    .menu__controls-icon--center {
        width: 0;
        height: 0;
        opacity: 0;
    }
    .menu__controls-icon--bottom {
        width: 3.2526911935rem;
        transform: rotate(45deg);
    }
    .menu__controls-icon--top {
        width: 3.2526911935rem;
        transform: rotate(-45deg);
    }

}

// Media Queries

@media (min-width: 769px) {
    .menu__controls {
        display: none;
    }
    .navigation {
        position: relative;
        height: auto;
        top: auto;
        bottom: auto;
        right: auto;
        width: auto;
        padding: 0;
        overflow-y: unset;
        text-align: center;      
        display: block;
        background: transparent;

        &__list {
            padding: unset;
            margin: auto;
            flex-direction: row;
            &-item {
                &--link {
                    color: $main-white;
                    // padding-left: 2rem;
                    // padding-right: 2rem;
                    font-size: 1rem;
                    line-height: 5.6rem;
                }
                
            }
        }
    }
}