.project {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    a {
        margin: 0;
    }
    &-text {
        h3 {
            margin: 0;
            font-size: 1.8rem
        }
        p {
            font-size: 1.4rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.4rem;
    }
}
strong {
    font-size: 1.8rem;
    font-weight: 700;
}
figcaption p {
    margin: 0;
}

figcaption {
    font-size: 1.6rem;
}

.dash {
    display: inline-block;
    padding: 0 1.6rem;
}

// Media Queries: Whole Project
@media (min-width: 576px) {
    .project {
        // max-width: 45%;
    }
}