.projects-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    .projects-wrapper {
        &__project {
            max-width: 45%;
        }
    }
}