@use '../styles/variables.scss';
@use '../styles/main.scss';


// Education styles

.education-wrapper__row {
    border-bottom: 1px solid variables.$main-light-grey;
    padding: 1.2rem 0;

    &:first-child {
        border-top: 1px solid variables.$main-light-grey;
    }
}

.education-wrapper__row:hover {
    background-color: variables.$main-white;
    border-color: variables.$main-white;
    p, span, h3 {
        color: variables.$main-black;
    }
}

.container-wrapper__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // border-bottom: 1px solid $main-light-grey;
    // padding: 1.2rem 0;

    &--period {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--institution {
        display: flex;
        padding: 1.5rem 0;
        align-items: baseline;
        width: 65%;
        justify-content: space-between;
        flex-wrap: wrap;
        &_name {
            font-family: 'Open Sans';
            margin: 0;
        }

        &_program {
            // tbd
        }
    }

}