$main-white: #F5F5F5;
$main-black: #121212;
$main-grey: #3D3D3D;
$main-light-grey: #A6A6A6;
$main-blue: #2C2EF2;
// Font Variables
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Montserrat', sans-serif;
$font-subtitle: 'Montserrat', sans-serif;