$main-white: #F5F5F5;
$main-black: #121212;
$main-grey: #3D3D3D;
$main-light-grey: #A6A6A6;

// Font Variables
$font-title: 'Fira Code', sans-serif;
$font-subtitle: 'Fira Code', sans-serif;
$font-subtitle: 'Open Sans', sans-serif;